<footer id="footer">
  <div class="outer">
    <div id="footer-info">
      <script async="" src="http://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js?v=2"></script>
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>版权所有
      </div>
      <div class="footer-left">
          &nbsp;© 
          <span id="busuanzi_container_site_pv" style="display: inline;">
            本站访问量<span id="busuanzi_value_site_pv"></span>次
          </span>
          <span id="busuanzi_container_site_uv" style="display: inline;">
            访客数<span id="busuanzi_value_site_uv"></span>人次
          </span>
          <span class="post-count">
              本站总共<%= totalcount(site) %>字
          </span>
        </div>
			  <div class="yiyan" q-class="show:isComplete">『 <span class="yans"></span> 』</div>
      <div class="footer-right">
      	<a href="http://hexo.io/" rel="noopener" target="_blank">Hexo</a>  Theme <a href="https://github.com/JetBrainZP/hexo-theme-yilia" rel="noopener" target="_blank">Yilia_2.0</a> by JetBrainZP
      </div>
    </div>
  </div>
</footer>