#header .tagcloud a{
    color:#fff; 
}
.tagcloud{
    a{
        display:inline-block;  
        text-decoration:none;  
        font-weight: normal;
        font-size:12px;  
        color:#fff;   
        height:18px;  
        line-height:18px;  
        float: left;
        padding:0 5px 0px 10px;  
        position:relative;  
        border-radius:0 5px 5px 0; 
        margin: 5px 9px 5px 8px;
        font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
        &:hover{
            opacity: 0.8;
        }
        &:before{
            content: " ";
            width: 0px;
            height: 0px;
            position: absolute;
            top: 0;
            left: -18px;
            border: 9px solid transparent;
        }
        &:after{  
            content:" ";  
            width:4px;  
            height:4px;  
            background-color:#fff;  
            border-radius:4px;  
            box-shadow:0px 0px 0px 1px rgba(0,0,0,.3);  
            position:absolute;  
            top: 7px;
            left: 2px;
        }  
    }
    a.color1{
        background:  #e58587;
        &:before{
            border-right-color: #e58587;  
        }
    }
    a.color2{
        background:  #f0ad4e;
        &:before{
            border-right-color: #f0ad4e;  
        }
    }
    a.color3{
        background:  #38b7ea;
        &:before{
            border-right-color: #38b7ea;  
        }
    }
    a.color4{
        background: #5cb85c;
        &:before{
            border-right-color:#5cb85c;  
        }
    }
    a.color5{
        background: #FF5B05;
        &:before{
            border-right-color:#FF5B05;  
        }
    }
}

.article-tag-list{
    .article-tag-list-item{
        float: left;
    }
}
.article-pop-out{
    float: left;
    .icon-tuding {
        color: #999;
        float: left;
        margin-right: 10px;
        margin-top: 6px;
    }
}
.article-tag, .article-category{
    float: left;
    .article-tag-list{
        float: left;
    }
    .icon {
        color: #999;
        float: left;
        margin-right: 10px;
        margin-top: 6px;
    }
}
.article-pop-out {
    float: left;
}

.archive-article-date {
    color: #565a5f;
    margin-right: $articlePadding;
    display: block;
    margin-top: 8px;
    margin-left: 8px;
    .icon {
        margin: 5px 5px 5px 5px;
    }
}